<div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Lista de documentos</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="home">Home</a></li>
              <li class="breadcrumb-item active">Lista de documentos</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <!-- <div class="row">
          <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
              <div class="inner">
                <h3>150</h3>
                <p>New Orders</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a   class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-success">
              <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>
                <p>Bounce Rate</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a   class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>44</h3>
                <p>User Registrations</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a   class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>65</h3>
                <p>Unique Visitors</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a   class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div> -->
            <div class="row">              
                <div class="col-md-3">
                    <label>Ver:</label>
                    <select class="form-control" (change)="todasCot(optionID.value)" #optionID>
                        <option value="1">Mis OV</option>
                        <option value="2">Todas OV</option>
                        <option value="3">Mis Cotizaciones</option>
                        <option value="4">Todas Cotizaciones</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 top-space">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
                           <thead>
                                <tr class="">
                                    <th>folio</th>
                                    <th>Cotizacion</th>
                                    <th>Fecha</th>
                                    <th>Código Cliente</th>
                                    <th>Cliente</th>
                                    <th>Sitio</th>
                                    <th>Almacén</th>
                                    <th>Modo de Entrega</th>
                                    <th>Vendedor</th>
                                    <th>Estado</th>
                                </tr>                            
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of items">
                                <td><i class="fa fa-plus-circle" style="color:green;"></i></td>
                                <td>{{item[0]}}</td>
                                <td>{{item[2]}}</td>
                                <td>{{item[3]}}</td>
                                <td>{{item[4]}}</td>
                                <td>{{item[5]}}</td>
                                <td>{{item[6]}}</td>
                                <td>{{item[7]}}</td>
                                <td>{{item[8]}}</td>
                                <td>{{item[9]}}</td>
                            </tr>                      
                        </tbody>
                    </table>
                </div>                
                <br>
                <!--<table datatable class="table table-striped">
                    <thead>
                        <tr class="">
                            <th>folio</th>
                            <th>Cotizacion</th>
                            <th>Fecha</th>
                            <th>Código Cliente</th>
                            <th>Cliente</th>
                            <th>Sitio</th>
                            <th>Almacén</th>
                            <th>Modo de Entrega</th>
                            <th>Vendedor</th>
                            <th>Estado</th>
                            <th>Convertir OV</th>
                            <th>Imprimir</th>
                        </tr>                            
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items">
                            <td><i class="fa fa-plus-circle" style="color:green;"></i></td>
                            <td>{{item[0]}}</td>
                            <td>{{item[2]}}</td>
                            <td>{{item[3]}}</td>
                            <td>{{item[4]}}</td>
                            <td>{{item[5]}}</td>
                            <td>{{item[6]}}</td>
                            <td>{{item[7]}}</td>
                            <td>{{item[8]}}</td>
                            <td>{{item[9]}}</td>
                            <td>{{item[10]}}</td>
                            <td>{{item[11]}}</td>
                        </tr>                      
                    </tbody>
                </table>-->  
            </div>
        </div>
    </section>