<!--The content below is only a placeholder and can be replaced.-->
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Header content component -->
    <header></header>
    <!-- Content Wrapper. Contains page content -->
    <app-principal></app-principal>
    <!-- /.content-wrapper -->
    <app-footer></app-footer>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
</body>